<div class="signin-content">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <p>Авторизуйтесь чтобы продолжить</p>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Логин" formControlName="username" required autocomplete="off">
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Пароль" formControlName="password" required autocomplete="off">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Вход</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
