.mat-header-cell, .mat-cell {
  text-align: center;
  padding: 15px;
  border-left: 1px solid rgba(0,0,0,.12);
}

.mat-cell {
  max-width: 100px;
  padding: 0px;
}

table {
  table-layout: auto;
  width: 50%;
}

.mat-row {
  height: 30px;
}
div{
  margin-bottom: 15px;
}

.mat-input-element {
   flex-grow: 1;
  height: 100%;
 }

.table-input{
  width: 100%;
}

