<div style="display: flex; flex: 1"><span><b>Название: </b></span><input matInput [(ngModel)]="experiment.name"></div>
<div style="display: flex; flex: 1">
  <span><b>Оптимум стремится к: </b></span>
<mat-radio-group>
  <mat-radio-button class="example-margin" value="after">Min.</mat-radio-button>
  <mat-radio-button class="example-margin" value="before">Max.</mat-radio-button>
</mat-radio-group>
</div>
<div style="display: flex; flex: 1">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
    <th mat-header-cell *matHeaderCellDef> {{getColumnName(column)}} </th>
    <td mat-cell *matCellDef="let element"><input matInput matAutosize class="table-input" [(ngModel)]="element[column]" *ngIf="column !== 'isMain'"><mat-checkbox *ngIf="column == 'isMain'" [(ngModel)]="element[column]"></mat-checkbox></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
<button mat-raised-button (click)="addRow()">Добавить параметр</button>
<button mat-raised-button (click)="deleteRow()">Удалить параметр</button>
<div style="display: flex; flex: 1">

</div>
<div><span>Мин. коэф. регрессии*: </span><input matInput [(ngModel)]="experiment.minRegressionCoef"></div>
<div style="display: flex; flex: 1">
  <table><tr><td><span><b>Дата проведения эксперимента: </b></span><input type="date" [(ngModel)] = "experiment.date"></td><td><span><b>Ответственный: </b></span><input matInput [(ngModel)] = "experiment.workerName"></td></tr>
  <tr><td><span><b>Изделие: </b></span><input matInput [(ngModel)] = "experiment.productName"></td><td><span><b>Техпроцесс: </b></span><input matInput [(ngModel)] = "experiment.techProcName"></td></tr>
    <tr><td><span><b>Описание: </b></span><br/><textarea rows="5" style="resize: vertical" (change)="productDescChange($event)">{{experiment.productDesc}}</textarea><td><span><b>Описание: </b></span><br/><textarea rows="5" style="resize: vertical" (change)="techProcDescChange($event)">{{experiment.techProcDesc}}</textarea></td></tr>
  </table>
</div>
<div style="display: flex; flex: 1">
<button mat-raised-button (click)="createExperiment()">Провести расчёт</button>
</div>
