<div mat-dialog-content>
  <p>{{data.message}}</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.minRegressionCoef">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.minRegressionCoef" cdkFocusInitial>Ok</button>
</div>
