<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Поиск">
</mat-form-field>
<table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-sort-header="id" mat-header-cell *matHeaderCellDef><div style="padding: 15px;"> № </div></th>
    <td mat-cell *matCellDef="let element"><div style="padding: 15px;">
      <span>{{element['id']}}</span>
    </div></td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-sort-header="name" mat-header-cell *matHeaderCellDef><div style="padding: 15px;"> Название </div></th>
    <td class="name-cell" (click)="openResultClick(element['id'])" mat-cell *matCellDef="let element"><div style="padding: 15px;">
      <a>{{element['name']}}</a>
    </div></td>
  </ng-container>
  <ng-container matColumnDef="date">
    <th mat-sort-header="date" mat-header-cell *matHeaderCellDef><div style="padding: 15px;"> Дата </div></th>
    <td mat-cell *matCellDef="let element"><div style="padding: 15px;">
      <span>{{element['date'] | date:'dd/MM/yyyy'}}</span>
    </div></td>
  </ng-container>
  <ng-container matColumnDef="workerName">
    <th mat-sort-header="workerName" mat-header-cell *matHeaderCellDef><div style="padding: 15px;"> Ответственный </div></th>
    <td mat-cell *matCellDef="let element"><div style="padding: 15px;">
      <span>{{element['workerName']}}</span>
    </div></td>
  </ng-container>
  <ng-container matColumnDef="techProcName">
    <th mat-sort-header="techProcName" mat-header-cell *matHeaderCellDef><div style="padding: 15px;"> Техпроцесс </div></th>
    <td mat-cell *matCellDef="let element"><div style="padding: 15px;">
      <span>{{element['techProcName']}}</span>
    </div></td>
  </ng-container>
  <ng-container matColumnDef="productName">
    <th mat-sort-header="productName" mat-header-cell *matHeaderCellDef><div style="padding: 15px;"> Изделие </div></th>
    <td mat-cell *matCellDef="let element"><div style="padding: 15px;">
      <span>{{element['productName']}}</span>
    </div></td>
  </ng-container>


<!--  <span *ngIf="column == 'date'">{{element[column] | date:'shortDate'}}</span>
  <button *ngIf="column == 'id'" (click)="openResultClick(element[column])">{{element[column]}}</button>-->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
