<ng-container *ngIf="isAuthentificated">
  <mat-tab-group *ngIf="!isResultOpen">
  <mat-tab label="Провести исследование">
    <h1>Новое исследование</h1>
    <app-experiment-parameters-table (openResult) = "openResult($event)"></app-experiment-parameters-table>
  </mat-tab>
  <mat-tab label="Лабораторный журнал">
    <ng-template matTabContent>
    <app-experiment-list (openResult) = "openResult($event)"></app-experiment-list>
    </ng-template>
  </mat-tab>
</mat-tab-group>
<app-experiment-result [id]="resultId" (close)="closeResult()" *ngIf="isResultOpen"></app-experiment-result>
</ng-container>
<app-login *ngIf="!isAuthentificated" (doLogin)="doLogin()"></app-login>
