<div id="report">
<button mat-icon-button (click)="onCloseClick()">
  <mat-icon svgIcon="close"></mat-icon>
</button>
<h1>Отчёт исследования №{{data.experiment.id}}</h1>
<table><tr><td><span><b>Дата проведения эксперимента: </b></span><span>{{data.experiment.date | date:'dd/MM/yyyy'}}</span></td><td><span><b>Ответственный: {{data.experiment.workerName}}</b></span></td></tr></table>
<ng-container *ngIf="data">
  <h2>Модель эксперимента:</h2>
  <div mathjax>
    \(y = {{data.linearModel}}\)
  </div>
  <h2>Данные получения оптимума:</h2>
  <div style="position: relative">
    <table style="display: inline-block" class="table-custom">
        <tr><th> Интервал варьирования и уровни факторов </th>
        <th *ngFor="let parameter of xparams">{{parameter.name}}</th></tr>
      <tr><td>Нулевой уровень</td><td *ngFor="let x of data.zeroLevel">{{x | number}}</td></tr>
      <tr><td mathjax>Интервал варьирования \(b_i\)</td><td *ngFor="let x of data.varietyInterval">{{x | number}}</td></tr>
      <tr><td mathjax>Коэффициент регрессии \(\delta_i\)</td><td *ngFor="let x of data.regressionCoef">{{x | number}}</td></tr>
      <tr><td mathjax>Значение \(b_i*\delta_i\)</td><td *ngFor="let x of data.bAndDelta">{{x | number}}</td></tr>
      <tr><td mathjax>$$K_i$$</td><td *ngFor="let x of data.ki">{{x | number}}</td></tr>
      <tr><td mathjax>$$\delta_i^*$$</td><td *ngFor="let x of data.newVarietyInterval">{{x | number}}</td></tr>
      <tr><td mathjax>$${{ '{' }}\delta_i^*{{ '}' }}_{{ '{' }}окр{{ '}' }}$$</td><td *ngFor="let x of data.floatNewVarietyInterval">{{x | number}}</td></tr>
    </table>
  <table style="display: inline-block; margin-left: 40px; position: absolute">
    <tr><td><span><b>Изделие: </b></span><input matInput [(ngModel)] = "data.experiment.productName"></td><td><span><b>Техпроцесс: </b></span><input matInput [(ngModel)] = "data.experiment.techProcName"></td></tr>
    <tr><td><span><b>Описание: </b></span><br/><textarea rows="5" style="resize: vertical">{{data.experiment.productDesc}}</textarea><td><span><b>Описание: </b></span><br/><textarea rows="5" style="resize: vertical">{{data.experiment.techProcDesc}}</textarea></td></tr>
  </table>
  </div>
  <h2>Данные получения оптимума:</h2>
  <ng-container *ngIf="gradY">
  <table class="table-values">
    <tr>
      <th> Номер опыта </th>
      <th *ngFor="let parameter of data.experiment.parameters; let i=index" mathjax>$${{constNames[i]}}$$</th>
      <th mathjax>$$y_{{ '{' }}ср{{ '}' }}$$</th>
    </tr>
    <tr [ngClass]="{'green-row': isRowAverageMax(i), 'red-row': isRowAverageMin(i)}" *ngFor="let grad of data.gradientTable; let i = index">
      <td>{{i+1}}</td>
      <td *ngFor="let param of xparams; let j = index">
        <span *ngIf="!param.isMain">{{grad[j] | number}}</span>
      </td>
      <td *ngFor="let param of xparams; let j = index">
        <input matInput class="table-input" [(ngModel)] = "gradY[i][j]">
      </td>
      <td><span>{{getAverageFromRow(gradY[i]) | number}}</span></td>
    </tr>
  </table>
  </ng-container>
</ng-container>
</div>
  <button mat-button (click)="saveGradY()">Сохранить</button>
  <button mat-icon-button (click)="export()">
    <mat-icon svgIcon="print"></mat-icon>
  </button>
  <mat-radio-group>
    <mat-radio-button class="example-margin" value="after">Краткий</mat-radio-button>
    <mat-radio-button class="example-margin" value="before">Полный</mat-radio-button>
  </mat-radio-group>
  <table mat-table>
    <mat-header-row *matHeaderRowDef="[]"></mat-header-row>
  </table>
