.table-custom {
  border: 1px solid black;
}

.table-values {
  border: 1px solid black;
}

.table-values td {
  width: 70px;
}

table {
  border-collapse: collapse;
}

table th, table td {
  padding: 0.5rem;
  border: 1px solid black;
  background-color: white;
  max-width: 200px;
}

.table-input{
  width: 100%;
}

.green-row td {
    background: lightgreen;
}

.red-row td {
  background: lightcoral;
}
